
.text{
    // margin: 2em auto;

    // font-style: italic;
    // text-transform: uppercase;
    width: 100%;
    font-size: 2em;
    font-weight: 500;
    // font-size: 21px;
    // font-style: italic;
    letter-spacing: 0.1em;
    color: white;

}

.image{
    margin: 3em 10em;
    height: 95vh;
    background-image: url(./jakethedog.jpeg);
    // background-position:50% 25%;
    background-size: contain;
    border-radius: 50px;
}

.headline{
    font-size: 6.5em;
    color: white;
}

.root {
    display: flex;
    flex-flow: nowrap;
    align-items: space-around;
    justify-content: center;
    align-items: center;
    height: 95vh;
    
    // overflow-x: hidden;
    // background-image: url(./sunset.jpg)
}


@media only screen and (max-width: 767px) {
    .text{
        // margin: 2em auto;
    
        // font-style: italic;
        // text-transform: uppercase;
        width: 100%;
        font-size: 16px;
        font-weight: 500;
        // font-size: 21px;
        // font-style: italic;
        letter-spacing: 0.1em;
        color: white;
    
    }

    .image{
        // margin: 3em 10em;
        height: 50vh;
        background-image: url(./jakethedog.jpeg);
        // background-position:50% 25%;
        background-size: contain;
        // border-radius: 50px;
    }

    .headline{
        font-size: 16px;
    }
}