.buttons {
    position: fixed;
    top: 1em;
    right: 1em;
}


    
    

.main {
    display: flex;
    flex-flow: column wrap;
    align-items: space-around;
    justify-content: center;
    align-items: center;
    height: 95vh;
    background-image: url(./p2c.png);
    // background-position:100% 100%;
    background-position: center center;
    background-repeat: no-repeat;

    background-size: cover;



}


.h1 {
    text-transform: uppercase;
    font-size: 4em;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 0.3em;
    color: white;
}


.h2 {
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 0.3em;
    color: white;
    
}


.title1{
    margin: 5em auto;
    text-align: center;
    display: inline-block;
    vertical-align: top; /* here */
    width: 100%;
    position: absolute;

}

.title2{
    margin: 8em auto;
    text-align: center;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.bar {
    margin-left: 0.8em;
    width: 35em;
    height: 1.5em;
    border-top: 0.45em solid white;
    border-bottom: 0.45em solid white;
    transform: skew(-10deg);
}



.letter {
    display: inline-block;
    color: white;
}

@media only screen and (max-width: 767px) {
    .main {
    /* The file size of this background image is 93% smaller
    to improve page load speed on mobile internet connections */
    display: flex;
    flex-flow: column wrap;
    align-items: space-around;
    justify-content: center;
    align-items: center;

    height: 60vh;
    background-image: url(./P2C_coding_pic_IG.PNG);
    // background-position:100% 100%;
    background-position: center center;
    background-repeat: no-repeat;

    background-size: 90%;    }

    .h2{
        color: transparent;
    }
    }